.btn-primary {
  background: goldenrod !important;
  border: 1px solid goldenrod !important;
}

.btn-primary:hover {
  border: 1px solid white !important;
}

.btn-warning {
  background: #fa7c30 !important;
}
