.btn-primary {
  background: goldenrod !important;
  border: 1px solid goldenrod !important;
}

.btn-primary:hover {
  border: 1px solid white !important;
}

.btn-warning {
  background: #fa7c30 !important;
}

.filter-button {
  width: 200px;
  height: 36px;
  border-radius: 20px;
  border: 2px solid goldenrod;
  background-color: white;
  color: black;
}

.filter-button:hover {
  background-color: goldenrod;
  color: white;
}
