.page-item.active .page-link {
  color: #fff !important;
  background: green !important;
  border: 1px solid green !important;
}

.page-link {
  color: #fa7c30 !important;
}

.page-link:hover {
  color: #fff !important;
  background: #fa7c30 !important;
  border: 1px solid #fa7c30 !important;
}
